.title {
    font-size: 28px;
    padding-top: 18px;
}

body {
    background: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
}
.container-own {
    max-width: 390px;
    padding: 10px 5px;
}

.card-img {
    margin-top: 10px;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
.card {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0 !important;
    background: var(--tg-theme-bg-color) !important;
}

.card-title {
    font-weight: normal;
    font-size: 16px;
}

.card-text {
    font-size: 15px !important;
}